In [ ]:
#Latihan 1
import pandas as pd

Data = pd.read_csv('/content/sample_data/negara.csv')
df = pd.DataFrame(Data)

numeric_columns = ['Populasi', 'Luas']
mean_population = df.groupby(['Negara'])[numeric_columns].mean()

print(Data)
print()
print(mean_population)
print("\nRata-rata keseluruhan:")
print(df[numeric_columns].mean())

             Negara       Ibu Kota    Benua   Luas  Populasi
0         Indonesia        Jakarta     Asia   1905       264
1            Jepang          Tokyo     Asia    377       143
2             India      New Delhi     Asia   3287      1252
3             China        Beijing     Asia   9597      1357
4   Amerika Serikat  Washington DC  Amerika   9834       329
5            Brazil       Brazilia  Amerika   8515       210
6             Rusia         Moskow     Asia  17098       146
7           Meksiko   Meksiko City  Amerika   1964       126
8           Nigeria          Abuja   Afrika    923       200
9            Jerman         Berlin    Eropa    357        83
10         Aljazair       Aljazair   Afrika   2381        43
11          Inggris         London    Eropa    242        66

                 Populasi     Luas
Negara
Aljazair             43.0   2381.0
Amerika Serikat     329.0   9834.0
Brazil              210.0   8515.0
China              1357.0   9597.0
India              1252.0   3287.0
Indonesia           264.0   1905.0
Inggris              66.0    242.0
Jepang              143.0    377.0
Jerman               83.0    357.0
Meksiko             126.0   1964.0
Nigeria             200.0    923.0
Rusia               146.0  17098.0

Rata-rata keseluruhan:
Populasi     351.583333
Luas        4706.666667
dtype: float64

In [3]:
#Latihan 2
import pandas as pd

Data = pd.read_csv('/content/sample_data/negara.csv')
df = pd.DataFrame(Data)
mean_values = df[['Luas', 'Populasi']].mean()
std_dev_values = df[['Luas', 'Populasi']].std()
mean_data = {
    'Negara': df['Negara'],
    'Luas Area Mean': [mean_values['Luas']] * len(df),
    'Populasi Mean': [mean_values['Populasi']] * len(df) }

mean_df = pd.DataFrame(mean_data)
mean_df.to_csv('NegaraMean.csv', index=False)

std_dev_data = {
    'Negara': df['Negara'],
    'Luas Area Standar Deviasi': [std_dev_values['Luas']] * len(df),
    'Populasi Standar Deviasi': [std_dev_values['Populasi']] * len(df)}

std_dev_df = pd.DataFrame(std_dev_data)
std_dev_df.to_csv('NegaraStandarDeviasi.csv', index=False)

print("File CSV 'NegaraMean.csv' dan 'NegaraStandarDeviasi.csv' berhasil dibuat.")

File CSV 'NegaraMean.csv' dan 'NegaraStandarDeviasi.csv' berhasil dibuat.